a:link {
	color: rgb(0,172,107);
}

a:hover {
	text-decoration: none;
	font-weight: bold;
}

.content {
	background-color: rgb(0,112,70);
	color: #FFF;
	height: 500px;
	padding: 5px;
	clear: both;
}

/* social media icons */
.facebook {
	display: block;
	width: 57px;
	height: 56px;
	background-image: url(/images/Social_Media_Icons.jpg);
	background-repeat: no-repeat;
	background-position: -4px -8px;
}
.twitter {
	display: block;
	width: 57px;
	height: 56px;
	background-image: url(/images/Social_Media_Icons.jpg);
	background-repeat: no-repeat;
	background-position: -82px -8px;
}
.linkedin {
	display: block;
	width: 57px;
	height: 56px;
	background-image: url(/images/Social_Media_Icons.jpg);
	background-repeat: no-repeat;
	background-position: -240px -8px;
}
.googleplus {
	display: block;
	width: 57px;
	height: 56px;
	background-image: url(/images/Social_Media_Icons.jpg);
	background-repeat: no-repeat;
	background-position: -240px -91px;
}

/* standard html tags */
h1, h2, h3, h4, h5, h6 {
	color: rgb(255,149,0);
}

h1 {
	font-size: 2em;
	font-weight: bold;
	padding: 7px;
}

h2 {
	font-size: 1.8em;
	font-weight: bold;
	padding: 5px;
}

h3 {
	font-size: 1.6em;
}

p {
	padding: 5px;
}

.nolist {
	list-style-type: none;
}