a:link {
	color: rgb(0,172,107);
}

a:hover {
	text-decoration: none;
	font-weight: bold;
}

.content {
	background-color: rgb(0,112,70);
	color: #FFF;
	min-height: 500px;
	clear: both;
	float:left;
	padding: 1%;
	width: 98%;
}

.gitlog tr.sha {
	font-weight: bold;
	background-color: #D29135;
}

.gitlog tr.sha .label {
	padding-top: 5px;
	padding-bottom: 5px;
}

.gitlog tr.data {
	background-color: #53B891;
	font-style: italic;
}
.gitlog tr.data .label {
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.lefthalf {
	float: left;
	clear:none;
	width: 50%;
}
.righthalf {
	float: right;
	width: 50%;
	clear: none;
}

.nolist {
	list-style-type: none;
}

/* social media icons */
.facebook {
	display: block;
	width: 57px;
	height: 56px;
	background-image: url(/images/Social_Media_Icons.jpg);
	background-repeat: no-repeat;
	background-position: -4px -8px;
}
.twitter {
	display: block;
	width: 57px;
	height: 56px;
	background-image: url(/images/Social_Media_Icons.jpg);
	background-repeat: no-repeat;
	background-position: -82px -8px;
}
.linkedin {
	display: block;
	width: 57px;
	height: 56px;
	background-image: url(/images/Social_Media_Icons.jpg);
	background-repeat: no-repeat;
	background-position: -240px -8px;
}
.googleplus {
	display: block;
	width: 57px;
	height: 56px;
	background-image: url(/images/Social_Media_Icons.jpg);
	background-repeat: no-repeat;
	background-position: -240px -91px;
}
.socialmedia ul li {
	float: left;
	padding: 10%;
}

/* standard html tags */
h1, h2, h3, h4, h5, h6 {
	color: rgb(255,149,0);
}

h1 {
	font-size: 2em;
	font-weight: bold;
	padding: 7px;
}

h2 {
	font-size: 1.8em;
	font-weight: bold;
	padding: 5px;
}

h3 {
	font-size: 1.6em;
}

p {
	padding: 5px;
}
