body {
	float: left;
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

.def {
	font-style: italic;
}
.defword {
	font-weight: bold;
}

.navigation {
	float: left;
	width: 100%;
	background-color: rgb(103,159,210);
}
.navigation li {
	font-weight: bold;
	float: left;
	padding: 10px;
}
.navigation li a:link {
	color: rgb(4,58,107);
	text-decoration: none;
}
.navigation li a:hover {
	font-weight:bold;
}
.navigation li a:active {
	text-decoration: underline;
	font-weight: bold;
}
.navigation ul {
	list-style-type: none;
	width: 75%;
}

.title {
	background-color: rgb(0,172,107);
}
.title h1 {
	font-size: 2em;
	color: #000;
}